@charset "utf-8";

* {
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial;
}

a {
	color: black;
	text-decoration: none;
}

body {
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/bg_leilao.png);
	/*background-repeat: repeat-x;*/
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-color: #f4f4f4;
}

.menuitem {
	float: left;
	cursor: pointer;
}

#conteudo {
	margin-top: -50px;
}

#header {
	height: 120px;
	margin-bottom: 10px;
}

#mainContainer {
	margin: 0 auto;
	position: relative;
	width: 960px;
	height: 100%;
}

#menu {
	position: relative;
	left: 385px;
	width: 576px;
	z-index: 1001;
	height: 0px;
}

#logo {
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/logo.png);
	background-repeat: no-repeat;
	height: 104px;
	width: 180px;
	position: relative;
	top: 18px;
	left: 15px;
}

#mainSearch {
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/busca.png);
	margin-left: 275px;
	height: 32px;
	width: 279px;
	margin-top: -35px;
}

textarea:focus,input:focus {
	outline: none;
}

#mainSearchText {
	margin-top: 7px;
	height: 16px;
	margin-left: 15px;
	position: absolute;
}

#cadastro {
	/*background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/cadastro.png);*/
	width: 268px;
	height: 48px;
	position: relative;
	left: 590px;
	top: -44px;
	cursor: pointer;
	/* tvd */
	/*background-image: ;*/
}

#login {
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_login.png);
	width: 85px;
	height: 32px;
	position: relative;
	top: -87px;
	left: 875px;
	cursor: pointer;
}

#comprarBids {
	/*background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/comprarBids.png);*/
	width: 147px;
	height: 32px;
	position: relative;
	left: 560px;
	top: -32px;
	cursor: pointer;
	/* tvd */
	background-image: ;
}

#userlogged {
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/userlogged.png);
	width: 248px;
	height: 72px;
	position: relative;
	top: -82px;
	left: 712px;
}

.numbers,.leftNumbers {
	float: left;
	width: 25px;
	height: 20px;
	background: lightGrey;
	text-align: center;
	padding-top: 5px;
	margin-right: 5px;
	color: white;
	border: 1px solid white;
	text-shadow: 1px 1px 0px black;
	font: bold 14px arial;
	cursor: pointer;
}

#destaques {
	height: 200px;
	width: 700px;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

#numeros {
	position: relative;
	top: -45px;
	left: 20px;
	width: 250px;
}

#sidebar {
	float: left;
	/*margin-top: -72px; - tvd */
	left: 0px;
	position: relative;
	min-height: 650px;
	width: 250px;
}

#sideBarTop {
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/sidebar_top.png);
	height: 15px;
	width: 248px;
}

#sideBarMiddle {
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/sidebar_middle.png);
	width: 223px;
	/*padding-left: 25px;
	padding-top: 75px;- tvd */
	/* tvd */
	padding: 75px 0px 10px 25px;
}

#sideBarBottom {
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/sidebar_bottom.png);
	height: 17px;
}

#conteudoPrincipal {
	float: right;
	min-height: 250px;
	width: 700px;
	/*left: -21px;*/
	position: relative;
	/*margin-top: -69px; - tvd */
}

#conteudoPrincipalFull {
	/*float: right; - tvd*/
	min-height: 250px;
	width: 960px;
	/*left: 20px; - tvd*/
	position: relative;
	/*margin-top: -40px; - tvd*/
}

.produto {
	width: 220px;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

#sideBarMiddle .produto {
	float: none;
	float: none;
	margin-top: 10px;
	margin-left: 0px;
	zoom: 0.92;
	-moz-transform: scaleX(0.92);
	-moz-transform-origin: -10px -10px;
}

.produtoFull {
	height: 340px;
	width: 220px;
	float: left;
	margin-top: 20px;
	margin-right: 27px;
}

.produtoBoxTop {
	width: 220px;
	height: 30px;
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/produtobox_top.png);
}

.produtoBoxBody {
	width: 220px;
	height: 280px;
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/produtobox_body.png);
}

#produtosHolderFull {
	width: 990px
}

#produtosHolder {
	width: 750px
}

.icons {
	margin-top: 4px;
	float: left;
}

#leiloesaovivo {
	float: left;
	min-height: 250px;
	width: 700px;
	left: 0px;
	position: relative;
	top: 0px;
	border-top: 2px black solid;
	padding-top: 5px;
}

#leiloesaovivoFull {
	float: left;
	min-height: 250px;
	width: 960px;
	left: 0px;
	position: relative;
	top: 0px;
	padding-top: 5px;
}

#leiloesareematados {
	float: left;
	min-height: 250px;
	width: 700px;
	left: 0px;
	position: relative;
	top: 0px;
	border-top: 2px black solid;
	padding-top: 5px;
	margin-top: 20px;
}

#arrematadosHolder {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	height: 300px;
	background: white;
	border: 1px solid lightGrey;
	margin-top: 14px;
	/*margin-bottom: 50px;*/
	/* tvd */
	margin-bottom: 0px;
}

#arrematadosHolder2 {
	width: 700px;
	height: 300px;
	margin-top: 15px;
	margin-bottom: 50px;
}

#footer {
	float: left;
	width: 100%;
	text-align: center;
	height: 200px;
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/footer.png);
	/* tvd */
	margin-top: 30px;
}

#bottomMenu {
	font-size: 12px;
	font-weight: bold;
	-webkit-text-size-adjust: 95%;
	margin-top: 23px;
	width: 960px;
	padding-left: 0px;
}

#mainSearchText,input {
	color: gray;
	font-size: 14px;
	width: 130px;
}

p>a {
	font-size: 12px;
	color: #41b1e3;
}

p {
	color: #41b1e3;
}

#categoriasSubMenu {
	position: absolute;
	top: 34px;
	left: 310px;
	background: white;
	padding: 10px;
	/*border: 2px solid grey;*/
	width: 630px;
	-moz-box-shadow: 0px 0px 10px grey;
	-webkit-box-shadow: 0px 0px 10px grey;
	box-shadow: 0px 0px 10px grey;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 1000;
}

.divisao {
	float: left;
	width: 180px;
	padding-right: 20px;
}

.divisao>p {
	border-bottom: 1px solid lightGrey;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#loginOver {
	display: none;
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_login_over.png);
	width: 254px;
	height: 213px;
	position: absolute;
	top: 54px;
	left: 713px;
	z-index: 1002;
}

h1 {
	font-size: 18px;
	border-top: 2px solid;
	width: 200px;
	padding-bottom: 15px;
	padding-top: 5px;
	height: 20px;
}

h2 {
	float: left;
	margin-top: 9px;
	font-size: 14px;
	font-weight: bold;
	color: gray;
	text-shadow: 1px 1px 1px white;
	margin-left: 5px;
}

.left {
	float: left;
}

.right {
	float: right;
}

#destaquesLeftHolder {
	/*background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/destaque/wii.jpg); - tvd*/
	height: 340px;
	position: relative;
	width: 200px;
	border-radius: 5px;
	margin-bottom: 20px;
}

#numbersHolder {
	position: absolute;
	top: 300px;
	left: 35px;
}

.msg {
	font: normal 12px Arial, Helvetica;
	color: gray;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 40px;
	white-space: nowrap;
}

.title {
	color: #09C;
	font-size: 12px;
	font-weight: bold;
}

.cidade {
	font-size: 12px;
}

.depoimentos {
	margin-bottom: 10px;
	width: 200px;
}

h3 {
	font: bold 16px Arial;
	color: #006699;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
}

.fotoProd {
	height: 100px;
	text-align: center;
}

h4 {
	color: red;
	text-align: center;
	font: bold 24px Arial;
	border-bottom: solid 1px lightgrey;
	width: 150px;
	margin-left: 35px;
}

.valor {
	color: #2199d5;
	font: bold 17px arial;
	text-align: center;
	margin: 3px;
}

.prodUser {
	color: #999999;
	font: bold 12px arial;
	display: block;
}

.bud {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/bud.png);
	width: 106px;
	height: 49px;
	text-align: center;
	margin-left: 60px;
}

.budSmall {
	/*background: url(https://c14985174.ssl.cf2.rackcdn.com/img/budSmall.png); - tvd*/
	width: 78px;
	height: 36px;
}

.budLarge {
	/*background: url(https://c14985174.ssl.cf2.rackcdn.com/img/budLarge.png);*/
	width: 149px;
	height: 59px;
	margin-left: 5px;
}

.fotArrematado {
	height: 66px;
	width: 100px;
	margin-top: 25px;
	/*background: #F2F2F2;*/
	float: left;
	margin-left: 10px;
	margin-right : 10px;
	/* tvd */
	background-color: transparent;
}

.fotArrematado2 {
	height: 75px;
	width: 100px;
	margin-top: 15px;
	background: #F2F2F2;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
}

.arremateTitulo {
	text-transform: capitalize;
	font: bold 14px arial;
	color: gray;
	margin-top: 40px;
}

.arremateValor {
	font: bold 20px arial;
	color: #a2ad00;
}

.arremateDesconto {
	color: red;
	font: bold 18px arial;
	border-left: 2px solid lightgrey;
	padding-left: 7px;
	/* tvd */
	font-size: 11px;
}

.produtoArrematado {
	float: left;
	/*width: 340px;*/
	border-left: 1px dashed lightgrey;
	margin-left: -1px;
	/* tvd */
	width: 330px;
}

.produtoArrematado2 {
	float: left;
	width: 338px;
	margin-left: -1px;
	border: 1px solid gray;
	border-radius: 10px;
	margin: 0px 10px 10px 0px;
	height: 150px;
	position: relative;
}

.produto100x75 {
	width: 100px;
	height: 75px;
}

.banner {
	height: 200px;
	width: 700px;
	float: left;
	border-radius: 5px;
}

#destaquesholder {
	width: 9999px;
	left: 0px;
	position: absolute;
}

.close {
	margin-top: 5px;
	cursor: pointer;
}

.closeBox {
	cursor: pointer;
	margin-right: 5px;
}

.bottomNumbers {
	margin-left: 5px;
	height: 15px;
	width: 15px;
	background: #DAEEFB;
	padding-top: 6px;
	padding-bottom: 5px;
	padding-left: 11px;
	padding-right: 9px;
	font: bold 14px Arial;
	color: #595959;
	border-radius: 7px;
	border: 1px solid lightgray;
	behavior: url(PIE.htc);
}

.bnSelected {
	background: #4FB7E8;
	color: white;
}

.current {
	background: #4FB7E8;
	color: white;
	margin-left: 5px;
	height: 15px;
	width: 15px;
	padding-top: 6px;
	padding-bottom: 5px;
	padding-left: 11px;
	padding-right: 9px;
	font: bold 14px Arial;
	border-radius: 7px;
	border: 1px solid lightgray;
}

.topBox {
	position: relative;
	height: 340px;
	width: 700px;
	border-radius: 10px;
	border: 1px solid #AAA;
	background: white;
	left: 0px;
	top: 20px;
}

#topBoxIMG {
	width: 280px;
	height: 240px;
	position: absolute;
	/*left: 419px; - tvd*/
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/topboximg.png);
	vertical-align: bottom;
	top: 100%;
	margin-top: -240px;
	/* tvd */
	right: 0px;
}

.redefinirSenhaMSG {
	font: Bold 21px Helvetica, Arial;
	color: #006699;
	position: absolute;
	left: 50px;
	top: 50px;
}

.password {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/input_bg2.png);
	background-repeat: no-repeat;
	width: 340px;
	height: 32px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.passwordTXT {
	font: bold 16px Arial;
	color: #646464;
	margin-bottom: 10px;
}

.enviar {
	/*width: 85px;*/
	/*height: 32px;*/
	/*position: absolute;*/
	/*top: 150px;*/
	/*left: 0px;*/
	/*background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_enviar.png);*/
	/* tvd */
	width: 107px;
	height: 35px;
	position: inherit;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_enviar.png);
}

.userIMG {
	position: absolute;
	width: 50px;
	height: 50px;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/userimg.jpg);
	left: 10px;
	top: 10px;
}

.nomedousuariomaior {
	font: bold 14px Arial;
	color: #006699;
	position: absolute;
	top: 10px;
	left: 70px;
}

.nBids {
	font: bold 12px Arial;
	color: red;
	position: absolute;
	top: 29px;
	/*left: 70px;*/
	/* tvd */
	left: 65px;
}

.meuBidBud {
	position: relative;
	top: 44px;
	/*left: 70px;*/
	font: 12px Arial;
	text-decoration: underline;
	/* tvd */
	left: 65px;
}

.box {
	position: relative;
	width: 100%;
	border-radius: 10px;
	border: 1px solid #AAA;
	background: white;
	left: 0px;
	/*margin-bottom: 50px; - tvd */
	/* tvd */
	margin-bottom: 20px;
}

.box>p {
	color: gray;
	font: 12px Arial;
	margin: 20px;
}

.roundedBorder {
	position: relative;
	border-radius: 10px;
	border: 1px solid #AAA;
}

.floatLeft {
	float: left;
}

.clearfix {
	display: inline-block;
	zoom: 1;
}

.clearfix::after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.simpleClearFix {
	overflow: auto;
}

.sideBarCat {
	color: #006699;
	font: bold 14px Arial;
	height: 30px;
	width: 200px;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/sidebar_conta_menu.png);
	margin-bottom: 10px;
	padding-top: 5px;
	padding-left: 15px;
	background-repeat: no-repeat;
}

.sideBarCat>a {
	color: #FFF;
}

.selected>a {
	color: gray;
}

.blueHeader {
	width: 680px;
	background: #8f8f8f;
	border-radius: 10px 10px 0px 0px;
	color: white;
	padding: 10px;
}

.artigos>h1 {
	color: #006699;
	border: 0px;
}

.artigos {
	border-bottom: 1px dashed;
	padding: 20px;
}

.artigos>p {
	color: grey;
	font: 14px Arial;
	margin-bottom: 10px;
}

.artigos>a {
	color: grey;
	text-decoration: underline;
	font: bold 14px Arial;
}

.faq>p>a {
	font: bold 16px Arial;
	color: #0099CC;
}

.arremateBlueBar {
	background: #8f8f8f;
	float: left;
	height: 21px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	color: white;
	font: 12px Arial;
	padding-top: 7px;
}

.verde {
	color: #a2ad00;
}

.azul {
	color: #006699;
}

.azul2 { /* tvd */
	color: #2199D5;
}

.vermelho {
	color: #e30000;
}

.cinza {
	color: gray;
}

.branco {
	color: white;
}

.azulBg {
	background: #8f8f8f;
}

.brancoBg {
	background: white;
}

.boldBlack {
	color: black;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.underline {
	text-decoration: underline;
}

.s10 {
	font-size: 10px;
}

.s12 {
	font-size: 12px;
	line-height: 14px;
}

.s14 {
	font-size: 14px;
	line-height: 17px;
}

.s16 {
	font: 16px/20px Arial;
}

.s19 {
	font: 19px/24px Arial;
}

.s24 {
	font: 24px/30px Arial;
}

.s30 {
	font-size: 30px;
}

.w45 {
	width: 45px;
}

.w65 {
	width: 65px;
}

.w90 {
	width: 90px;
}

.w375 {
	width: 375px;
}

.h90 {
	height: : 90px;
}

.m10 {
	margin: 10px
}

.ml10 {
	margin-left: 10px
}

.p5 {
	padding: 5px;
}

.borderBottom {
	border-bottom: 1px solid #ccc;
}

.userIMGdepoimento {
	width: 90px;
	height: 90px;
}

.auditoriatb {
	width: 700px;
	border: 1px solid gray;
	border-radius: 10px;
	overflow: hidden;
	/*margin-top: 20px;*/
	background: white;
	/* tvd */
	margin-top: 0px;
	margin-bottom: 20px;
}

.auditoriatb>div:first-child {
	background: #4FB7E8;
	color: white;
	border-bottom: 1px solid gray;
	height: 30px;
}

.auditoriatb>div {
	height: 65px;
	text-align: center;
	padding-bottom: 0px;
	border-bottom: 1px solid black;
}

.auditoriatb>div:first-child>span {
	padding-top: 7px;
	margin-top: 0px;
	border: 0px;
}

.auditoriatb>div>span {
	width: 170px;
	display: inline-block;
	margin-top: 10px;
	border-right: 1px dotted gray;
	height: 30px;
	padding-top: 10px;
}

.auditoriatb>div>span:last-child {
	border: 0px;
}

.auditoriatb>div:last-child {
	border: 0px;
}

.pdf:before {
	content: "";
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/pdfIcon.png);
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-top: -30px;
	margin-right: 10px;
	position: relative;
	top: 8px;
}

.downArrow:before {
	float: right;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	color: black;
	content: "»";
}

.leilaoProduto {
	width: 260px;
	height: 260px;
	background: white;
	border: 1px solid gray;
	border-radius: 10px;
	float: left;
	overflow: hidden;
	margin-bottom: 10px;
}

.leilaoInfo {
	background: white;
	width: 428px;
	height: 260px;
	border: 1px solid gray;
	border-radius: 10px;
	float: right;
	clear: right;
	overflow: hidden;
	margin-bottom: 10px;
}

.leilaoVantagens {
	background: white;
	width: 194px;
	height: 150px;
	border: 1px solid gray;
	border-radius: 10px;
	float: left;
	margin-left: 10px;
	overflow: hidden;
}

.leilaoAutoBid {
	background: white;
	width: 222px;
	height: 150px;
	border: 1px solid gray;
	border-radius: 10px;
	float: left;
	margin-left: 10px;
	overflow: hidden;
}

.leilaoRegras {
	clear: both;
	background: white;
	width: 258px;
	border: 1px solid gray;
	border-radius: 10px;
	float: left;
	overflow: hidden;
	margin-bottom: 10px;
}

.leilaoChat {
	background: white;
	width: 428px;
	height: 210px;
	border: 1px solid gray;
	border-radius: 10px;
	float: right;
	margin-bottom: 10px;
	overflow: hidden;
}

.leilaDesc {
	width: 698px;
	background: white;
	min-height: 580px;
	clear: both;
	border: 1px solid gray;
	border-radius: 10px;
	overflow: hidden;
}

.grayHeader {
	background: #999999;
	height: 20px;
	border-bottom: 1px solid gray;
	color: white;
	font: 12px Arial;
	padding-left: 10px;
	padding-top: 10px;
}

.leilaoProdutoHolder {
	margin-top: 10px;
	margin-bottom: 50px;
}

.produtoLeilaoIMG {
	width: 240px;
	height: 180px;
	/*background: url(https://c14985174.ssl.cf2.rackcdn.com/img/produtoLeilao.jpg); - tvd */
	margin: 10px;
	/* tvd */
	margin-top: 5px;
}

.produtoLeilaoThumb {
	width: 75px;
	height: 60px;
	border: 1px solid gray;
	float: left;
	margin: 3px;
	/*background: url(https://c14985174.ssl.cf2.rackcdn.com/img/leilaoThumb.jpg); - tvd*/
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 35px;
	/* tvd */
	margin-top: -4px;
}

.leilaoThumbs {
	margin-left: 5px;
}

.leilaoFornecedorLogo {
	width: 170px;
	height: 60px;
	/*background: url(https://c14985174.ssl.cf2.rackcdn.com/img/leilaoFornecedor.png); - tvd */
	clear: both;
	margin-left: 45px;
}

.seguir {
	font: bold 12px Arial;
	color: black;
	margin-top: 20px;
	margin-left: 42px;
}

.seguir:before {
	content: url(https://c14985174.ssl.cf2.rackcdn.com/img/ico_rightarrow.png);
	position: relative;
	left: -4px;
	top: 2px;
}

.leilaoInfoRight {
	background: #f0f0f0;
	float: right;
	width: 230px;
	border-radius: 0px 10px 10px 0px;
	height: 100%;
}

.leilaoTd {
	
}

.leilaoTd {
	/*padding-right: 10px;*/
	padding-bottom: 5px;
	/* tvd */
	padding-right: 5px;
}

.leilaoInfoLeft {
	float: left;
	/*padding-left: 16px;*/
	padding-top: 16px;
	/* tvd */
	width: 186px;
	padding-left: 12px;
}

.leilaoBotoes {
	position: absolute;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/input_bg.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 100px;
	margin-bottom: 5px;
}

.leilaoRegrasTXT {
	margin-left: 50px;
	margin-top: 20px;
	padding: 0px 5px 10px 0px;
}

.leilaoDescricaoTXT>p {
	color: gray;
	margin: 20px;
}

.sobreIMG {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/sobreIMG.png);
	width: 283px;
	height: 210px;
	position: relative;
}

.no_spam {
	width: 376px;
	height: 71px;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/no_spam.png);
	position: absolute;
	left: 50px;
	top: 150px;
}

.blueHeader>span>a {
	color: white;
	text-decoration: underline;
}

.blogLeft {
	width: 200px;
	height: 200px;
	background: lightgray;
	float: left;
}

.blogRight {
	float: right;
	width: 430px;
	height: 200px;
	text-align: justify;
}

.blogRight>p {
	color: gray;
	font: 14px/16px Arial;
	margin-top: 10px;
}

.blogHolder {
	padding: 20px;
}

.headerSel {
	background: white;
	height: 30px;
	color: black;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgb(255, 255, 255) ), color-stop(0.53, rgb(240, 240, 240) ) );
	background-image: -moz-linear-gradient(center bottom, rgb(255, 255, 255) 5%, rgb(240, 240, 240) 53% );
}

.centavos {
	position: relative;
	top: -9px;
	font-size: 12px;
	left: 1px
}

.comprar {
	width: 139px;
	height: 46px;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_comprar.png);
	position: relative;
	left: 134px;
	top: -65px;
}

.comprar2 {
	width: 143px;
	height: 48px;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/comprar2.png);
	position: relative;
	left: 134px;
	top: -58px;
}

.pacote {
	width: 278px;
	height: 58px;
	border: 1px solid lightgrey;
	margin-left: 20px;
	padding: 10px;
	margin-bottom: 10px;
}

.nomedousuarioMeuBidBud {
	font: bold 14px Arial;
	color: #006699;
	margin-bottom: 5px;
}

.userIMGlarge {
	width: 200px;
	height: 200px;
	/*background:url(https://c14985174.ssl.cf2.rackcdn.com/img/userIMGlarge.jpg); - tvd */
	margin-top: 20px;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	border: 1px #000;
}

.stats {
	width: 200px;
	height: 150px;
	text-align: center;
	/* tvd */
	height: 90px;
}

.stat {
	color: #28b5ec;
	background: #e7f8fb;
	font: 12px Arial;
	display: inline-block;
	width: 80px;
	height: 45px;
	margin: 5px;
	text-align: center;
	border-radius: 5px;
	padding-top: 15px;
}

.stat>span {
	font: 18px Arial;
	display: block;
}

.meuBidSmallIMG {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/userimg.jpg);
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid gray;
}

.atividade {
	width: 350px;
	margin: 30px;
}

.mascote {
	width: 50px;
	height: 45px;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/mascote.png);
}

.indique {
	width: 200px;
	border-top: 2px solid black;
	padding-top: 5px;
}

.inputText {
	background: white;
	height: 30px;
	border: 1px solid #b3b3b3;
	border-radius: 30px;
	padding-left: 10px;
}

.inputText2 {
	background: white;
	height: 30px;
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	/*padding-left: 10px;*/
	/* tvd */
	padding: 0 5px;
}

.formTitle {
	display: inline-block;
}

select {
	/*
	-webkit-appearance: none;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/input_select_bg.png);
	color: #B3B3B3;
	border-top: 1px solid #B3B3B3;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: right;
	border-left: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
 	*/
	background: #e5e5e5;
	height: 30px;
	outline: none;
	text-align: justify;
	font: 14px Arial;
	color: gray;
	padding-left: 10px;
}

.confirmar {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_confirmar.png);
	width: 243px;
	height: 69px;
	/* tvd */
	cursor: pointer;
}

#leilaoVencedor {
	position: relative;
	height: 320px;
	width: 700px;
	border-radius: 10px;
	border: 1px solid #AAA;
	background: white;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -350px;
	margin-top: -160px;
}

#leilaoVencedorInPage {
	position: relative;
	height: 320px;
	width: 700px;
	border-radius: 10px;
	border: 1px solid #AAA;
	background: white;
}

.mainMSG {
	font: Bold 24px Helvetica, Arial;
	color: black;
	margin-top: 10px;
	margin-left: 290px;
}

#parabens {
	width: 294px;
	height: 282px;
	float: left;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/parabens.png);
	/*top: -2px;*/
	position: relative;
	/* tvd */
	top: 38px;
}

#descricao {
	float: right;
	position: relative;
	top: 20px;
	width: 390px;
	height: 270px;
	margin-right: 15px;
}

.lightGrey {
	text-transform: uppercase;
	color: #999999;
	font: 12px Helvetica, Arial;
	line-height: 14px;
}

.nome {
	color: #006699;
	font: Bold 20px Arial;
	margin-bottom: 15px;
	line-height: 23px;
	/* tvd */
	height: 50px;
}

.valorParabens {
	color: #676767;
	font: bold 30px Arial;
}

.subTitle {
	font: bold 12px Arial;
	color: black;
	text-align: right;
	line-height: 18px;
}

.value {
	font: 16px Arial;
	color: #676767;
	line-height: 18px;
}

.dashedLine {
	border-right: 1px dashed #CCC;
	height: 85px;
	width: 5px;
	position: absolute;
	top: 158px;
	left: 195px;
}

.pagarAgora {
	position: absolute;
	height: 57px;
	width: 242px;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_comprar.png) no-repeat;
	top: 70px;
	left: 150px;
}

.produtoVencedor {
	width: 160px;
	height: 121px;
	/*background: url(https://c14985174.ssl.cf2.rackcdn.com/img/produtoVencedor.png); - tvd */
	position: absolute;
	top: 135px;
	left: 220px;
}

.darkBG {
	background: black;
	position: absolute;
	top: 0px;
	border: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 50);
}

#sidebarMeuBidBud {
	/*float: right; - tvd*/
	/*margin-top: -159px;*/
	/*left: -21px;*/
	/*position: relative; - tvd*/
	/* tvd */
	/*margin-top: -57px; - tvd*/
	/*left: -45px; - tvd*/
	width: 250px;
}

#sideBarMiddleMeuBidBud {
	background-image: url(https://c14985174.ssl.cf2.rackcdn.com/img/sidebar_middle.png);
	width: 223px;
	padding-left: 25px;
	padding-top: 10px;
	height: 100%;
	/*min-height: 760px;*/
	/* tvd */
	min-height: 600px;
}

.chatTXT {
	font: 12px Arial;
	color: gray;
	line-height: 20px;
	padding: 10px;
	height: 110px;
}

.chatTXT>b {
	color: black;
}

.chatTXT>span {
	font-weight: bold;
}

.leilaoChat>form {
	padding-left: 10px;
}

.leilaoChat>form>label {
	font-weight: bold;
	position: absolute;
	left: 10px;
	top: 13px;
}

.OK {
	width: 41px;
	height: 28px;
	/*background: url(https://c14985174.ssl.cf2.rackcdn.com/img/OK.png); - tvd*/
}

.parceiro {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/parceiro.png);
	background-repeat: no-repeat;
	width: 150px;
	height: 31px;
	margin-left: 35px;
	background-position: center;
}

.fotoProdParceiros {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/fotoProdParceiros.jpg);
	width: 150px;
	height: 90px;
	background-repeat: no-repeat;
	margin-left: 35px;
	margin-bottom: 10px;
}

.compreAgora {
	/*background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_compre_agora.png); - tvd*/
	width: 145px;
	height: 31px;
	float: left;
}

.addthis_button_expanded {
	width: 32px;
	height: 30px;
	line-height: 30px;
}

#leftSocial {
	display: none;
	position: fixed;
	top: 40%;
	left: 0px;
	margin-top: -72px;
	z-index: 1;
}

#leftSocial>div {
	margin-bottom: 10px;
	cursor: pointer;
}

#tweets,#likes {
	margin-bottom: 10px;
	position: relative;
	left: -100px;
	cursor: pointer;
}

#tweetCount {
	position: absolute;
	left: 0px;
	top: 6px;
	font: 11px Arial;
	color: #099;
}

#likesCount {
	position: absolute;
	left: 0px;
	top: 6px;
	font: 11px Arial;
	color: #004D99;
}

.alertBox {
	background: #ECF7FD;
	padding: 12px 0px 8px 10px;
	margin: 0px 0px 10px 0px;
	height: 20px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
	border-radius: 10px;
	border: 1px solid #ABDBF8;
}

/* tvd added */
.arrematado {
	color: red;
	font-weight: normal;
	left: -10px;
}

.confirmar_disabled {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_confirmar_cinza.png);
	width: 243px;
	height: 69px;
}

.error-message {
	color: #C00;
	font-weight: normal;
	font-size: 10px;
}

#comprarBids img {
	width: 147px;
	height: 32px;
}
/*
.budLargeDiv {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/budLarge.png);
	width: 149px;
	height: 59px;
	margin-left: 5px;
}
*/
.countdown {
	color: #036;
}

.countdown_ending {
	color: #ff0000;
}

.fotArrematado img {
	height: 66px;
	width: 100px;
}

.fotArrematado a img {
	height: 66px;
	width: 100px;
}

.userIMG img {
	width: 50px;
	height: 50px;
}

.userIMG a img {
	width: 50px;
	height: 50px;
}

#userlogged .userLogin {
	font: bold 14px Arial;
	color: #006699;
	position: absolute;
	top: 10px;
	left: 65px;
}

.produtoLeilaoIMG img {
	width: 240px;
	height: 180px;
}

.produtoLeilaoThumb a img {
	width: 75px;
	height: 60px;
}

.redefinirSenha {
	top: 0px;
}

.topBoxMSG {
	font: Bold 21px Helvetica, Arial;
	color: #006699;
	position: absolute;
	left: 50px;
	top: 30px;
}

textarea.inputText {
	height: 150px;
}

#mainSearch #AuctionTitle {
	margin-top: 7px;
	height: 20px;
	margin-left: 15px;
	position: absolute;
}

.seguindo {
	font: bold 12px Arial;
	color: #41B1E3;
	margin-top: 20px;
	margin-left: 42px;
}

.seguindo:before {
	content: url(https://c14985174.ssl.cf2.rackcdn.com/img/ico_rightarrow.png);
	position: relative;
	left: -4px;
	top: 2px;
}

#ProfileBirthdateDay {
	width: 70px;
}

#ProfileBirthdateMonth {
	width: 127px;
	margin-left: 20px;
}

#ProfileBirthdateYear {
	width: 80px;
	margin-left: 20px;
}

#paginator span span.current {
	background: #4FB7E8;
	color: white;
}

.produtoBoxBody h3 { /* TODO verificar se pode juntar c/ abaixo */
	padding: 2px 10px 3px 10px;
}

.produtoBoxBody h3 a {
	font: bold 16px Arial;
	color: #006699;
}

.homeSellerIMG {
	margin: 3px;
}

.arrematadosIMG { /* TODO verificar se pode juntar c/ os abaixo */
	width: 100px;
	height: 75px;
	margin-right: 20px;
	float: left;
}

.arrematadosIMG img {
	width: 100px;
	height: 75px;
}

.arrematadosIMG a img {
	width: 100px;
	height: 75px;
}

.userIMGlarge img {
	width: 200px;
	height: 200px;
}

.userIMGlarge a img {
	width: 200px;
	height: 200px;
}

#leiloesareematadosFull {
	float: left;
	min-height: 250px;
	width: 990px;
	left: 0px;
	position: relative;
	top: 0px;
	border-top: 2px black solid;
	padding-top: 5px;
	margin-top: 20px;
}

#arrematadosHolderFull {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 990px;
	height: 300px;
	background: white;
	border: 1px solid lightGrey;
	margin-top: 15px;
	margin-bottom: 50px;
}

#caminho p {
	font: 10px Helvetica;
	color: black;
	border-bottom: 2px black solid;
	width: 100%;
	margin-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#caminho p a {
	font: 10px Helvetica;
	color: black;
	text-transform: uppercase;
}

#caminho p a:link {
	font: 10px Helvetica;
	color: black;
	text-transform: uppercase;
}

#caminho p a:hover {
	font: 10px Helvetica;
	color: black;
	text-transform: uppercase;
	text-decoration: underline;
}

#conteudoTitulo {
	margin-bottom: 20px;
}

#conteudoTitulo h2 {
	float: left;
	font-weight: bold;
	font-size: 20px;
	color: black;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	width: 100%;
	/*font-size: 18px;
	margin-bottom: 10px;
	color: black;*/
}
/*
input.enviar {
	width: 85px;
	height: 32px;
	position: absolute;
	top: 150px;
	left: 0px;
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_enviar.png);
}
*/
#bid_button {
	cursor: pointer;
}

.bidmainbtn {
	width: 106px;
	height: 49px;
	text-align: center;
	margin-left: 60px;
}

.bidmainbtn a {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lance.png) no-repeat 0 0;
	display: block;
	width: 106px;
	height: 49px;
	margin: 0 auto
}
/*
.bidmainbtn a:hover {
	background-position:0 -39px
}
*/
.bidmainbtn a.ended {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lance_ended.png) no-repeat 0 0;
}

.bidmainbtn a.mustlog {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lance_login.png) no-repeat 0 0;
}
/*
.bidmainbtn a.mustlog:hover {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lance_login.png) no-repeat 0 0;
}
*/
.budLarge a {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lancegr.png) no-repeat 0 0;
	display: block;
	width: 149px;
	height: 59px;
	margin-left: 15px;
}
/*
.budLarge a:hover {
	background-position:0 -39px
}
*/
.budLarge a.ended {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lancegr_ended.png) no-repeat 0 0;
}

.budLarge a.mustlog {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lancegr_login.png) no-repeat 0 0;
}
/*
.budLarge a.mustlog:hover {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lancegr_login.png) no-repeat 0 0;
}
*/
.budSmall a {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lancepq.png) no-repeat 0 0;
	display: block;
	width: 78px;
	height: 36px;
}
/*
.budSmall a:hover {
	background-position:0 -36px
}
*/
.budSmall a.ended {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lancepq_ended.png) no-repeat 0 0;
}

.budSmall a.mustlog {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lancepq_login.png) no-repeat 0 0;
}
/*
.budSmall a.mustlog:hover {
	background: url(https://c14985174.ssl.cf2.rackcdn.com/img/btn_lancepq_login.png) no-repeat 0 0;
}
*/

#fl-bids {
	background: #D2F0FF;
	position: fixed;
	right: 10px;
	top: 10px;
	padding: 3px 8px;
	z-index: 2;
}

#fl-bids .fl-bids-nBids {
	font: bold 12px Arial;
	color: red;
}

.fl-bids-meuBidBud {
	font: bold 10px Arial;
	color: #069;
	text-decoration: underline;
}

.newbottominfo {
	display: none;
	position: fixed;
	bottom: 0px;
	height: 70px;
	width: 100%;
	background: #333333;
	z-index: 100;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity = 80);
}

.newbottominfo>div>p {
	font: 13px Arial;
	color: white;
	margin-left: 75px;
	margin-top: 5px;
}

.newbottominfo>div>h6 {
	font: bold 18px Arial;
	color: white;
	margin-left: 75px;
	margin-top: 8px;
}

.test_server {
	background: none repeat scroll 0 0 #FFFEA1;
	border: 1px solid #FFCC00;
	font-family: Arial;
	padding: 10px;
	position: fixed;
	left: 10px;
	top: 10px;
	z-index: 999;
}

/* SWFUpload */
.progressName {
	display: none;
}

.progressBarStatus {
	color: #09C;
}