<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>ApetreXo Leilão - Erro</title>
</head>
<body>
	<?php echo $content_for_layout;?>

	<p>Esta é uma mensagem automática gerada pelo site ApetreXo Leilão.</p>
</body>
</html>