<div id="caminho">
    <?php //$html->addCrumb('Meu BidBud', '/meubidbud'); ?>
	<p><?php echo $this->element('crumb'); ?></p>
	<div style="clear: both;"></div>
</div><!-- caminho -->

<div class="topBox">
	<div class="topBoxMSG" style="left: 30px; top: 20px;">Erro ao Processar o Pagamento</div>
	<p class="s16 cinza" style="position: absolute; left: 30px; top: 50px;">
		Encontramos um erro na sua solicitação.<br />
		Nossa equipe já recebeu uma notificação e entrará em contato em breve.
	</p>
	<div id="topBoxIMG"></div>
</div>