<div id="caminho">
    <?php $this->Html->addCrumb('Meu Cadastro'); ?>
	<p><?php echo $this->element('crumb'); ?></p>
	<div style="clear: both;"></div>
</div><!-- caminho -->

<div class="box" style="width: 640px; float: left; padding: 30px">
	Você não é o vencedor deste leilão!
</div>