<div id="caminho">
    <?php $this->Html->addCrumb('Meu Cadastro'); ?>
	<p><?php echo $this->element('crumb'); ?></p>
	<div style="clear: both;"></div>
</div><!-- caminho -->

<div class="box" style="width: 640px; float: left; padding: 30px">
	Você não tem direito à este desconto! Os descontos estão limitados à uma única compra.
</div>