<div id="caminho">
    <?php $this->Html->addCrumb('Meu BidBud', '/meu-bidbud'); ?>
    <?php //$html->addCrumb('Promoção Twitter', '/pacotes/promo/twitter'); ?>
	<p><?php echo $this->element('crumb'); ?></p>
	<div style="clear: both;"></div>
</div><!-- caminho -->

<div class="box" style="width: 640px; float: left; padding: 30px">
	Desculpe, promoção esgotada!
</div>