<div id="caminho">
    <?php $this->Html->addCrumb('Meu Cadastro', '/meu-cadastro'); ?>
    <?php //$html->addCrumb('Comprar Bids', '/pacotes'); ?>
	<p><?php echo $this->element('crumb'); ?></p>
	<div style="clear: both;"></div>
</div><!-- caminho -->

<div id="conteudoTitulo">
	<h2>Parabéns</h2>  
    <div style="clear: both;"></div>
</div><!-- conteudoTitulo -->

<div class="topBox">
	<div class="topBoxMSG">Recebemos o seu pedido!</div>
	<p class="s16 cinza" style="position: absolute; left: 50px; top: 80px;">Assim que o pagamento for confirmado vocë será avisado por e-mail.</p>
	<div id="topBoxIMG"></div>
</div>

<?php
//<!-- Google Code for finalizou a compra Remarketing List -->
//<script type="text/javascript">
///* <![CDATA[ */
//var google_conversion_id = 964658589;
//var google_conversion_language = "en";
//var google_conversion_format = "3";
//var google_conversion_color = "666666";
//var google_conversion_label = "ZM4nCMPH5wIQnYv-ywM";
//var google_conversion_value = 0;
///* ]]> */
// /script>
//<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
// /script>
//<noscript>
//<div style="display:inline;">
//<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/964658589/?label=ZM4nCMPH5wIQnYv-ywM&amp;guid=ON&amp;script=0"/>
//</div>
//</noscript>
?>