<div id="caminho">
    <?php //$this->html->addCrumb('Esquecia a senha', array('controller' => 'users', 'action' => 'forgotpassword')); ?>
	<p><?php echo $this->element('crumb'); ?></p>
	<div style="clear: both;"></div>
</div><!-- caminho -->

<div id="conteudoTitulo">
	<h2>Recuperar Senha</h2>
	<div style="clear: both;"></div>
</div><!-- conteudoTitulo -->

<div class="topBox">
	<div class="topBoxMSG">Isso também acontece com os melhores!</div>
	<p class="s14 cinza" style="position: absolute; left: 50px; top: 80px; width: 460px;">Não se preocupe, informe o seu e-mail de cadastro que lhe enviaremos instruções para alterar a sua senha.</p>
	<div id="topBoxIMG"></div>
	<?php echo $this->Form->create('User', array('id' => 'ForgotPassword', 'name' => 'ForgotPassword', 'action' => 'forgot_password', 'style' => "position: absolute; left: 50px; top: 160px;")); ?>
		<p class="passwordTXT">E-mail</p>
		<?php echo $this->Form->input('User.email', array('label' => false, 'div' => false, 'class' => "inputText", 'style' => "width: 300px")); ?>
		<?php //echo $form->submit( __('Enviar!', true), array('class'=>'enviar')); ?>
		<input type="submit" value="" class="enviar" style="position: absolute; left: 0px; top: 85px;" />
	</form>
</div>