<div id="caminho">
    <?php //$html->addCrumb('Minha Conta', '/minhaconta'); ?>
	<p><?php echo $this->element('crumb'); ?></p>
	<div style="clear: both;"></div>
</div><!-- caminho -->

<div class="topBox" style="height: 410px">
	<div class="topBoxMSG" style="left: 30px; top: 20px;">Quer ganhar 15 Lances?</div>
	<p class="cinza" style="position: absolute; left: 30px; top: 50px;">
		Você que já venceu um leilão e recebeu o produto, tire uma foto sua com ele e escreva um depoimento sobre a experiência de ganhar no Apetrexo Leilão.<br/>
		Se o seu depoimento for aceito, 15 Lances serão creditados diretamente na sua conta!<br />
		Para enviar o depoimento, clique no link na página dos seus arremates.<br />
		Veja <?php echo $this->Html->link('aqui', array('controller' => 'feedbacks', 'action' => 'index', 'meu' => false), array('class' => 's16')); ?> o que os outros usuários já escreveram.
	</p>
	<div id="topBoxIMG"></div>
</div>