﻿<p>Olá <?php echo $data['User']['username'];?>,</p>

<p>o leilão <a href="<?php echo Router::url(array('controller' => 'auctions', 'action' => 'view', $data['Auction']['id']), true); ?>"><?php echo $data['Auction']['title'];?></a> foi incluído com sucesso!</p>
