﻿<p>Olá <?php echo $data['User']['username'];?>,</p>

<p>Recebemos seu pagamento de R$<?php echo $data['Auction']['total'];?> referente ao leilão <?php echo $data['Auction']['title'];?>.</p>

<p><span style="font-weight: bold; color:#C00">Atenção: O seu pedido pode chegar em nome de Bidlivre!</span></p>
