﻿<p>Olá <a href="<?php echo Router::url(array('controller' => 'profiles', 'action' => 'view', $data['User']['id']), true); ?>"><?php echo $data['User']['username'];?></a>,</p>

<p>Seus <strong><?php echo $data['Package']['bids'];?> bids</strong> foram creditados em sua conta.</p>