<p>Olá <?php echo $data['User']['username'];?>!</p>

<p>Seu depoimento foi aceito<?php if(isset($data['bids']) && $data['bids'] > 0) echo " e foram creditados ". $data['bids'] ." BIDs na sua conta"; ?>. Parabéns pelo seu arremate!